{% extends '_templates/base.njk' %}

{% block page_title %}2024 ICJ Final Project{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Johan's Top 5 Vacation Spots</h1>
  <p></p>
  <h2>Locations</h2>
  <p>In my opinions, there are the most beautiful places I've gone to.</p>
  <div class="row">
    {% for vacation in cities.cities %}
      <div class="col">
        <img src="img/{{ vacation.img }}" alt=" Photo of {{ vacation.Name }}" class="img-fluid">
        <h3><a href="cities/{{ vacation.slug }}.html">{{ vacation.Name }}</a></h3>
        <p>{{ vacation.State }} | Population: {{ vacation.Population }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}